html {
    background-color: yellow;
  }
  
  #pokemon-name {
     padding: 1%;
     text-align: center;
  }
  
  #pokemon-description {
    text-align: center;
  }
  
  #pokemon-name, #pokemon-description, #pokemon-sprite {
    background-color: #ffff66;
  }