html {
    background-color: white;
  }
  body {
    margin: 0;
  }
  #pokemon-name {
     padding: 1%;
     text-align: center;
  }
  
  #pokemon-description {
    text-align: center;
  }

  #search-query{
    width: 90%;
  }

  #search {
    background-color: #ed970e;
  }

  #search-stuff {
    display: flex;
    flex-direction: column;
  }
  .titlebar{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    -webkit-app-region:drag;
    background-color: #ed970e;
  }
  
  .label {
    margin-right: auto;
    font-size: 14px;
    color: #ead4af;
    margin-left: 45%;
  }
  .controls{
    display: flex;
    flex-wrap: nowrap;
  }

  .controls button {
    width: 45px;
    background-color: #ed970e;
    border: 0px;
    color: #ead4af;
  }

  .controls button:hover {
    background-color: #ead4af;
    color: #ed970e;
  }

  header {
    display: flex;
  }

  #image-half {
    width: 50%;
  }
  #pokemon-sprite {
    width: 40%;
    height: 40%;
    margin-left: 20%;
    margin-top: 40%;
  }
  #info-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    
  }

  #pokemon-description {
    width: 50%;
    font-size: 30px;
    font-weight: normal;
  }

  #pokemon-name {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
  }
